@{
    ViewBag.Title = "About CocoaVision";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>CocoaVision is a Visual Division of Crestworld Studios.  It covers screen (TV and Movies), Theater, Literature and Art.</p>
<p>Other divisions include GrooveScene (Music and Dance), Brainstorm (Gaming and Trivia), SNGFS (Fantasy Sports), Wakka Wakka (Just silly stuff).</p>
<p>Feel free to visit CocoaVision on YouTube, Blogger, Facebook, Instagram, Tumblr or Twitter.</p>
