@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome to the CocoaVision Movie Library</h2>
    <p class="lead">CocoaVision is the Visiual Division of Crestworld Studios.  Here you will be checking out the movie library, making additions, updates and deletions as you see fit.  Enjoy.</p>
    <p><a href="http://cocoavision.blogspot.com/" class="btn btn-primary btn-lg">Visit CocoaVision Blog &raquo;</a>
    <a href="https://www.youtube.com/channel/UCtgCQltpDyUqnvHjxbDlcrA?view_as=subscriber" class="btn btn-primary btn-lg">Visit Crestworld Channel &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Author</h2>
        <p>William Clark, Founder and Owner of Crestworld</p>
    </div>
    <div class="col-md-4">
        <h2>Project</h2>
        <p>MovieLib Project - Phase 5</p>
    </div>
    <div class="col-md-4">
        <h2>Class</h2>
        <p>ITSE 1430 - C# Programming</p>
    </div>
</div>